{% extends 'index.html' %}

{% block title %}
{{title}} - {{ block.super }}
{% endblock %}

{% block content %}


<div class="container">
   <div class="row">

      <div class="col s12">
         <h3 style="color: #42a5f5;">
            Поможем продать, сдать, купить, снять квартиру, офис или дом на выигрышных для вас условиях.
         </h3>
      </div>

      <div class="col s6">
         <h4>Кто мы</h4>
         <h6>
            Масштабный каталог объявлений, который позволяет недорого купить, арендовать, выгодно сдать,
            продать любую недвижимость в Донецкой области.
         </h6>
      </div>
      <div class="col s6">
         <h4>Наша миссия</h4>
         <h6>
            Оказываем помощь в подборе лучшей недвижимости и проводим квалифицированное сопровождение сделки.
         </h6>
      </div>
      <div class="col s12">
         <p><b>+38(099)-099-99-00</b></p>
      </div>

      <br>
      <div class="col s12 google">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.745937907299!2d37.59529041599274!3d48.72944607927499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df96f960074eab%3A0x840e5c993fca5a21!2z0LLRg9C70LjRhtGPINCu0LLRltC70LXQudC90LAsIDQ2LCDQmtGA0LDQvNCw0YLQvtGA0YHRjNC6LCDQlNC-0L3QtdGG0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4NDMyNg!5e0!3m2!1sru!2sua!4v1634046782861!5m2!1sru!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

   </div>
</div>


{% endblock %}