{% extends 'index.html' %}

{% block title %}
  {{title}} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col s12 m12 l6 xl6">
            <h5 class="itemTitle">
                Квартира,
                {% if object.proposal_type == 'sale' %}
                продажа
                {% elif object.proposal_type == 'rental' %}
                аренда
                {% elif object.proposal_type == 'exchange' %}
                обмен
                {% else %}
                unknown
                {% endif %}
            </h5>
            <h3 class="itemPrice">
                <i class="material-icons">attach_money</i>
                <b>{{ object.price }}</b>
            </h3>
            <span class="grey-text text-darken-3"><h6><b>{{ object.address }}</b></h6></span>
            <table class="striped">
                <tbody>
                <tr>
                    <td>Комнат:</td>
                    <td>{{ object.number_of_rooms }}</td>
                </tr>
                <tr>
                    <td>Этаж:</td>
                    <td>{{ object.floor_number }}</td>
                </tr>
                <tr>
                    <td>Всего этажей:</td>
                    <td>{{ object.total_floors_number }}</td>
                </tr>
                <tr>
                    <td>Санузел:</td>
                    <td>{{ object.bathroom }}</td>
                </tr>
                <tr>
                    <td>Тип окон:</td>
                    <td>{{ object.window_type }}</td>
                </tr>
                <tr>
                    <td>Балкон:</td>
                    <td>{{ object.balcony }}</td>
                </tr>
                <tr>
                    <td>Состояние:</td>
                    <td>{{ object.room_condition }}</td>
                </tr>
                <tr>
                    <td>Общая площадь кв/м.:</td>
                    <td>{{ object.total_area }}</td>
                </tr>
                <tr>
                    <td>Опубликовано:</td>
                    <td>{{ object.created_at | date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td>{{ object.pk }}</td>
                </tr>
                <tr>
                    <td>Обновлено:</td>
                    <td>{{ object.updated_at | date:"Y-m-d H:i:s" }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col s12 m12 l6 xl6">
            <div class="row">
                {% if object.images.all %}
                <div class="col s12">
                    <div class="carousel gallery">
                        {% for photo in object.images.all %}
                        <a data-fancybox="gallery" class="carousel-item" href="{{ photo.image.url }}">
                            <img src="{{ photo.image.url }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <br>
                    <br>
                    <br>
                {% endif %}
                <div class="col s12">
                    <p>&nbsp;&nbsp;&nbsp;{{ object.description }}</p>
                </div>

                <div class="col s8 offset-s2" style="margin-top: 20px;">
                    <table>
                        <thead>
                        <tr>
                            <th style="color: red;">Риелтор:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if object.realtors.all %}
                            {% for realtor in object.realtors.all %}
                            <tr>
                                <td>{{ realtor.name }}</td>
                                <td><b>{{ realtor.phone }}</b></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>default</td>
                                <td>default</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}