<div class="collection">
    <a href="{% url 'commStructsPropType' 'sale' %}" class="collection-item">
        <i class="material-icons">attach_money</i>
        <b>Продажа</b> : {{ structsBySale }}
    </a>
    <a href="{% url 'commStructsPropType' 'rental' %}" class="collection-item">
        <i class="material-icons">business</i>
        <b>Аренда</b> : {{ structsByExchange }}
    </a>
    <a href="{% url 'commStructsPropType' 'exchange' %}" class="collection-item">
        <i class="material-icons">cached</i>
        <b>Обмен</b> : {{ structsByRental }}
    </a>
</div>