<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="row">
                    <div class="col s2">
                        <a href="{% url 'home' %}"><img class="footerLogo" src="/media/logos/logo1.png" alt="footer_logo"></a>
                    </div>
                    <div class="col s10">
                        <h6 class="white-text">График работы "Вектор" Краматорск</h6>
                    </div>
                    <div class="col s12">
                        <table class="centered">
                            <tr>
                                <td>Пн - Чт</td>
                                <td>9:00 - 12:00</td>
                                <td>13:00 - 18:00</td>
                            </tr>
                            <tr>
                                <td>Пт</td>
                                <td>9:00 - 12:00</td>
                                <td>13:00 - 17:00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--
                <h6 class="white-text">
                    <i class="material-icons">phone</i>&nbsp;&nbsp;&nbsp;
                    +38(099)777-77-77&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+38(068)555-55-55
                </h6>

                <p class="grey-text text-lighten-4">
                    <i class="material-icons">phone</i>
                    +38(099)777-77-77&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+38(068)555-55-55
                </p>
                -->
            </div>
            <div class="col l4 offset-l2 s12">
                <h6 class="white-text">
                    <i class="material-icons">phone</i>&nbsp;&nbsp;&nbsp;
                    +38(099)777-77-77 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +38(068)555-55-55
                </h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">О нас</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Обратная связь</a></li>
                </ul>
                <div class="row">
                    <div class="col s2">
                        <a title="Telegram" href="#" target="_blank"><img src="/media/logos/Telegram.png" alt="Написать в Telegram" /></a>
                    </div>
                    <div class="col s2">
                        <a title="Viber" href="#" target="_blank"><img src="/media/logos/Viber.png" alt="Написать в Viber" /></a>
                    </div>
                    <div class="col s2">
                        <a title="WhatsApp" href="#" target="_blank"><img src="/media/logos/WhatsApp.png" alt="Написать в WhatsApp" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Агенство недвижимости "Вектор" Краматорск.
            <a class="grey-text text-lighten-4 right" href="#!">Наши партнеры</a>
        </div>
    </div>
</footer>