<!-- PROMOTION SLIDER -->
{% if promos %}
<div class="slider">
    <ul class="slides">
        {% for promo in promos %}
        <li class="promo-item">
            <img src="{{ promo.image.url }}"> <!-- default image -->
            <div class="caption {{ promo.align_choice }}-align">
                <h3 class="promo-title">{{ promo.title }}</h3>
                <h5 class="promo-slogan">{{ promo.slogan }}</h5>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
// promotion slider
window.onload = function() {
    let options = {"indicators": {{option}} }
    let elems = document.querySelectorAll('.slider');
    let instance = M.Slider.init(elems, options);
    instance.start();
}
</script>
{% endif %}
<!-- END PROMOTION SLIDER -->