<ul class="collapsible">
    <li id="sale" class="_sidebar">
      <div class="collapsible-header"><i class="material-icons">attach_money</i>Продажа</div>
      <div class="collapsible-body">
          <ul>
              <li><a href="/apartments/sale/"><h6>Все</h6></a></li>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
    <li id="rental" class="_sidebar">
      <div class="collapsible-header"><i class="material-icons">business</i>Аренда</div>
      <div class="collapsible-body">
          <ul>
              <li><a href="/apartments/rental/"><h6>Все</h6></a></li>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
    <li id="exchange" class="_sidebar">
      <div class="collapsible-header"><i class="material-icons">cached</i>Обмен</div>
      <div class="collapsible-body">
          <ul>
              <li><a href="/apartments/exchange/"><h6>Все</h6></a></li>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
</ul>